// Override any MDL defaults by defining the default variables below
// https://github.com/google/material-design-lite/blob/master/src/_variables.scss

$color-primary: 0, 153, 218;
$color-primary-dark: 0 104 170;
$color-accent: 255, 255, 255;
$color-primary-contrast: 255, 255, 255;
$color-accent-contrast: 0, 153, 218;
$preferred_font: VWText-Regular, sans-serif;
$performance_font:  VWText-Regular, sans-serif;