// Material Design Lite
.mdl-textfield {
  width: inherit;
}

.mdl-textfield__input, .mdl-textfield__label {
  font-size: 18px;
  min-width: 100%;
}

.mdl-textfield--floating-label.is-focused .mdl-textfield__label,
.mdl-textfield--floating-label.is-dirty .mdl-textfield__label,
.mdl-textfield--floating-label.has-placeholder .mdl-textfield__label > label {
  font-size: 14px !important;
  color: #808890;
}

.mdl-textfield--floating-label.is-focused .mdl-textfield__label,
.mdl-textfield--floating-label.is-dirty .mdl-textfield__label > label {
  font-size: 14px;
  color: #0099da;
}

.mdl-textfield--floating-label.is-focused .mdl-textfield__label,
.mdl-textfield--floating-label.is-dirty .mdl-textfield__label > label {
  font-size: 14px;
  color: #0099da;
}

.mdl-text-charfield{
  width: 50%;
  float: left;
  clearAfter: both;
}

.mdl-char-charfield{
  width: 50%;
  text-align:right!important;
  float:right;
}

.mdl-textfield--floating-label.is-invalid .mdl-textfield__label {
  font-size:18px;
}

.mdl-textfield--floating-label.is-focused .mdl-textfield__label {
  font-size:14px;
}

.mdl-slider__container, .mdl-slider__ie-container {
  width: 100%;
}

.mdl-button--icon {
  margin-left: 10px;
  align-self: center;
  color: #808890;
}

.mdl-button--icon:hover {
  color: #0099da;
  background: white;
}

.mdl-slider {
  margin: 0;
  width: 100%;
}

.mdl-slider__background-flex {
  margin: 0;
  width: 100%;
}

.force-visibility-for-IE {
  visibility: visible !important;
}

.mdl-textfield__error {
  width: 100%;
  left: 0;
  text-align: left;
}

.mdl-textfield.is-invalid {
  color: #D50000;
}

textarea {
  resize: none;
  overflow: hidden;
}


